#repositories {
    padding: 2rem;
    background-color: #f9f9f9;
  }
  
  .container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1.5rem;
  }
  
  .repo-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .repo-item {
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .repo-item h3 a {
    color: #fbfdff;
    text-decoration: none;
  }
  

  
  .repo-item p {
    margin: 0.5rem 0;
    color: #555;
  }
  